@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;600&family=Noto+Sans:wght@300;400;500;900&family=Open+Sans:wght@800&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background-color: #f0efe9;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}

.row{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainApp * {
  background-color: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
}

.mainApp {
  box-shadow: 0px 0px 5px 5px #eeeeee;
}

.btn-circle{
  height: 10vh;
  width: 10vh;
  background-color: #50e3a4 !important;
  border: 0 !important;
  border-radius: 100% !important;
}